{% extends 'base.html' %}
{% load staticfiles %}

{% block page-content %}
<div>
    <!--
    <script src="//cdn.tinymce.com/4/tinymce.min.js">
    </script>
    <script>
        tinymce.init({
            selector: 'textarea'
        });
    </script>
    !-->
    <script type="text/javascript" src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: 'textarea',
            theme:'modern',
            height: 300,
            plugins:[
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern'
            ],
            toolbar1:'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            toolbar2:'print preview media | forecolor backcolor emoticons',
            image_advtab:true,
            templates:[
                {title:'Test template 1', content:'Test 1'},
                {title:'Test template 2', content:'Test 2'},
            ]
        });
    </script>

    <form method="post" action="{% url 'bbs:bbs_sub' %}">
        {% csrf_token %}
        标题：<input type="text" name="title"/>
        <br>
        摘要：<input type="text" name="summary" style="width:1140px;" />
        <br>
        内容：
        <textarea name="content" style="width:100%"></textarea>
        <br>
        <input type="submit" value="保存" />
    </form>
</div>
{% endblock page-content %}